#chart {
    font-family: 'Arial';
}

#chart text.title {
    font-size:14px;
    transform: translate(10px, 20px);
}

#chart text.current {
    font-size: 64px;
    transform: translate(40px, 150px);
}

#chart text.delta {
    font-size: 20px;
    transform: translate(80px, 180px);
}